#custheme, .c-topbar, .c-header, #c_footer, #topImgAd, #result_navigator, #ads, #rel-search, .c-bsearch, #c_footer {display:none;}

#results-contents {
    width: 380px !important;
    min-width: 380px !important;
    margin: 0px 5px !important;
}

#container {
    width: 380px !important;
}
